/* clearfix */
@mixin clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
   }
}

/* focus */
@mixin activate-element($offset: -2px) {
   &:focus,
   &:active {
      outline: thin dotted #666d72;
      outline: 5px auto #666d72;
      outline-offset: $offset;
   }
}

/* post */
@mixin post-item($bg: null, $color: null, $border: null) {
   display: block;
   float: left;
   height: 1.5rem;
   margin: 0 .3rem .3rem 0;
   padding: 0 .5rem;
   border-radius: 0.25rem;
   @if ($border) { border: 1px solid $border };
   background-color: $bg;
   font-size: .85rem;
   line-height: 1.5rem;
   color: $color;
   box-sizing: border-box;
}

/* text */
@mixin heading($color: $black) {
   color: $color;
   font-weight: 700;
   line-height: 1.4;
}

@mixin ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

@mixin multiple-ellipsis($line-clamp) {
   display: -webkit-box;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: $line-clamp;
   -webkit-box-orient: vertical;
}

@mixin figcaption {
   margin-top: .8rem;
   font-style: normal;
   font-size: .95rem;
   color: $grey10;
   text-align: center;

   &:before {
      content: "[";
      margin-right: .35rem;
   }

   &:after {
      content: "]";
      margin-left: .35rem;
   }
}