.post {
    &__contents {
        padding: $layout-padding * 2 0;
        font-size: 1.05rem;
        line-height: 1.9;
    }

    &__title {
        font-size: 2rem;
    }

    &__date {
        text-align: right;
        color: $grey10;
    }

    &__pagination {
        @include clearfix;

        &__link {
            display: block;

            &--prev {
                float: left;
            }

            &--next {
                float: right;
            }
        }
    }
}