.search {
    &__wrapper {
        text-align: right;

        input[type="text"] {
            border-radius: 0.25rem;
        }
    }

    &__input {
        padding: .7rem;
        border: 1px solid $grey08;
        font-size: .9rem;
    }

    &__result {
        display: none;

        &--active {
            display: table-cell;
        }
    }
}